DATABASE_URL="postgresql://neondb_owner:npg_n2hxPXvBUHY9@ep-crimson-shadow-b5s3bki4-pooler.c-7.us-east-2.aws.neon.tech/neondb?sslmode=require"
ADMIN_USER="admin"
ADMIN_PASSWORD="123jesus"
AUTH_SECRET="hyuns-9cut-webtoon-secret-key-2026"
NEXT_PUBLIC_APP_NAME="9컷 교육용 만화 제작소"
